In [1]:
print('avijit','new')

avijit new

In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.DataFrame([[1,2,3,4],[5,6,7,8],[2,7,3,23],[3,6,8,23],[23,23,63,12]],columns=['A1','B1','C1','D1'])

In [4]:
df.head()

   A1  B1  C1  D1
0   1   2   3   4
1   5   6   7   8
2   2   7   3  23
3   3   6   8  23
4  23  23  63  12

In [5]:
df.to_csv('export.csv')